In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\admin\.conda\envs\malini\lib\site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\admin\.conda\envs\malini\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\.conda\envs\malini\lib\site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in c:\users\admin\.conda\envs\malini\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in c:\users\admin\.conda\envs\malini\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as jaya

In [2]:
jaya.__version__

'1.5.2'

In [3]:
a1=jaya.Series(['one',2,3,4,5],index=[0,1,2,3,4])

In [4]:
print(a1)

0    one
1      2
2      3
3      4
4      5
dtype: object

In [5]:
season={"rainy":{1:'nov',2:'dec',3:'jan',4:'feb'},"dry":{1:'mar',2:'apr',3:'may',4:'june'}}

In [7]:
d=jaya.DataFrame(season,columns=["rainy","dry"])

In [18]:
d

  rainy   dry
1   nov   mar
2   dec   apr
3   jan   may
4   feb  june

In [29]:
import numpy as jey

In [30]:
a=jaya.DataFrame(jey.random.randint(0,300,size=(12,6)),columns=list(('abcdef')))

In [31]:
print(a)

      a    b    c    d    e    f
0   156  189   73  188  116   23
1    97   54   41  283  296   98
2   250  259  153  234  191  284
3   297   63  158  173  137  231
4   176  157  235   21   80  171
5   246   41  247  251  185  267
6    61  139   19   59   73  177
7   265  118  164  206  138  137
8    56   28  169   81   63  103
9     5   53  110  242  198  222
10  233  243   41  165  180  271
11  177   32  274  265   40  215

In [32]:
a.to_csv("D:\jaya.csv")

In [44]:
a.to_csv("D:\jaya.csv")

In [46]:
d=jaya.read_csv("D:\jaya.csv")

In [47]:
print(d)

    Unnamed: 0    a    b    c    d    e    f
0            0  156  189   73  188  116   23
1            1   97   54   41  283  296   98
2            2  250  259  153  234  191  284
3            3  297   63  158  173  137  231
4            4  176  157  235   21   80  171
5            5  246   41  247  251  185  267
6            6   61  139   19   59   73  177
7            7  265  118  164  206  138  137
8            8   56   28  169   81   63  103
9            9    5   53  110  242  198  222
10          10  233  243   41  165  180  271
11          11  177   32  274  265   40  215

In [49]:
d.drop("Unnamed: 0",axis=1)

      a    b    c    d    e    f
0   156  189   73  188  116   23
1    97   54   41  283  296   98
2   250  259  153  234  191  284
3   297   63  158  173  137  231
4   176  157  235   21   80  171
5   246   41  247  251  185  267
6    61  139   19   59   73  177
7   265  118  164  206  138  137
8    56   28  169   81   63  103
9     5   53  110  242  198  222
10  233  243   41  165  180  271
11  177   32  274  265   40  215

In [50]:
d.shape

(12, 7)

In [51]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  12 non-null     int64
 1   a           12 non-null     int64
 2   b           12 non-null     int64
 3   c           12 non-null     int64
 4   d           12 non-null     int64
 5   e           12 non-null     int64
 6   f           12 non-null     int64
dtypes: int64(7)
memory usage: 800.0 bytes